# .gitignore

# Python
/__pycache__
*__pycache__/*
*.py[cod]
*.pyo
*.pyd
.Python
env
venv
ENV
env.bak
venv.bak
*.venv
*.env
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.installed.cfg
*.egg

# Machine Learning: Various ML tools generate these
*.ckpt
*.tfevents
*.model

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore
*.dockerfile
.docker/

# AWS
.aws/
.aws/*

# SSL Certificates
certs/
certs/*

# Miscellaneous
*.log*
*.csv
*.json
*.sqlite
.DS_Store
.vscode/
temp_data/
*temp_data/*

# Media
*.mp4
*.jpg
*.png
*.jpeg
*.gif

# model weights
*.pt
weights/

# logs
logs/
*.log
*.log.*