.subContainer h4 {
  margin: 0 10%;
  padding: 80px auto 10px auto;
  color: white;
  text-align: center;
  font-weight: 100
}

.waviy {
  position: relative;
  margin: 60px auto;
  padding: auto;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.3s * var(--i))
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}