.waviy {
  position: relative;
  margin: 4rem auto;
  padding: auto;
}

.waviy span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.3s * var(--i))
}

.processingMessage h3 b {
  margin: 0 0 2rem 0;
}

@media (max-width: 768px) {
  
  .waviy {
    margin: 3rem 0.5rem;
  }

  .waviy span {
    font-size: 1.8rem;
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}