/* General Resetting */
/* Reset margins and paddings */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer  {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #13111f, #473d2e);
    width: 800px;
    min-height: 500px;
    text-align: center;
    border: double;
    border-color: #93a4a4;
    margin: auto;
}

@media (max-width: 768px) {
    .mainContainer {
        width: 100%;
        min-height: 600px;
        margin: 0;
    }
}

.mainTitle {
    border-bottom: double;
    border-color: #93a4a4;
}

h1, h3, p {
    color: #def2f8;
    font-family: 'Montserrat', sans-serif;
    margin: 0.8rem 1.2rem;
}

label {
    color: #def2f8;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
}