h3 {
    color: #ededed;
}

.carousel-inner .carousel-item img {
    max-width: 550px;
    margin: auto;
    display: block;
}

.tryAnother {
    padding: 60px 0;
}

#makeButton {
    cursor: pointer;
    padding: 10px 20px;
    background: #c7592a;  
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;
}

#detectionsDF {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #151515;
}

.sorting {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #d8d8d8;
    background-color: #33313e;
}

.dataTables_wrapper {
    width: 600px;
}