.uploadContainer {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    padding: 20px 0;
}

.uploadForm {
    max-width: 1000px;
    text-align: center;
    border: solid;
    margin: auto;
    padding: 20px 0;
}

.uploadForm h3, h4 {
    margin: 0;
}

.uploadForm input {
    width: 60%;
    margin-bottom: 15px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    background: solid;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#drop_zone {
    border: 2px dashed #ea8888; 
    padding: 20px; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urlInputField {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ea8888;
    border-radius: 5px;
    background: solid;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.uploadForm button {
    cursor: pointer;
    padding: 10px 20px;
    background: #dd7548;  
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: background 0.3s;
}

.uploadForm button:hover {
    background: #e39371;  /* Lighter shade for hover effect */
}
