form {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    form {
        flex-direction: column;
    }
}

.leftSide {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-right: double;
    border-color: #b4d3cd;
}

@media (max-width: 768px) {
    .leftSide {
        flex-grow: 0;
        width: 100%;
        border-right: none;
        border-bottom: double;
        border-color: #b4d3cd;
    }
}

#selectMethodText {
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    border-bottom: double;
    margin: 100px 60px 15px 60px;
    font-size: 18px;
    color: #ffffff;
}

@media (max-width: 768px) {
    #selectMethodText {
        margin: 1rem auto;
    }
}

.custom-radio-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 1rem;
}

.custom-radio-list li {
    position: relative;
    text-align: left;
    margin-bottom: 0.8rem;
}

.custom-radio-list label {
    padding-left: 2.5rem;
}

.custom-radio-list input[type="radio"] {
    position: absolute;
    opacity: 0; /* hide the default radio button */
    cursor: pointer;
}

.custom-radio-list input[type="radio"] + label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 40px;
    width: 16px;
    height: 16px;
    border: 2px solid #000; /* border color of the circular checkbox */
    border-radius: 50%;
    background-color: #fff; /* background color of the circular checkbox */
}

.custom-radio-list input[type="radio"]:checked + label:before {
    background-color: #d10000; /* fill color when checked */
}

.rightSide {
    flex-grow: 4;
    width: 550px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .rightSide {
        width: 100%;
        min-height: 0px;
        flex-grow: 1;
    }
}

.miniHeader {
    margin: 2.5rem 4rem 0 4rem;
}

@media (max-width: 768px) {
    .miniHeader{
        margin: 2.5rem 1.5rem 1rem 1.5rem;
    }
}

/* Start Here (Demo) */

#sampleVideo {
    margin: 1rem 0 0 0;
}

#sampleVideo iframe {
    width: 400px;
    height: 225px;
}

@media (max-width: 768px) {
    #sampleVideo iframe {
        width: 300px;
        height: 169px;
    }
}

/* dropZone */

#dropZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    border: 2px dashed #ffffff;
    margin: 10px auto;
    padding: 10px; 
    transition: background-color 0.3s;
    color: white;
    font-size: 18px
}

#dropZone:hover {
    background-color: #989898;
}

#dropZoneText {
    color: #def2f8;
    font-family: 'Roboto', sans-serif;
}

#thumbnailPreview {
    text-align: center;
    margin: 0 auto;
}

#fileName {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.urlInputField {
    max-width: 22rem;
    width: 90%;
    margin: 2rem auto;
    padding: 5px;
    border: 1px solid #070707;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    h3 #urlInputFieldHeader .miniHeader {
        margin: 1.2rem auto 1rem auto;
    }

    .urlInputField {
        margin: 1rem auto;
    }
}

.additionalOptions button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    appearance: none; /* Hides default select appearance, which varies between browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: rgba(255, 255, 255, 0) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 0px center;
    padding-right: 20px;
    margin-top: 10px;
}

#optionsContainer {
    width: 100%;
}

@media (max-width: 768px) {
    #optionsContainer {
        flex-direction: column;
    }
}

.selectDetections, .selectModel {
    flex: 1;
    text-align: justify;
    margin-bottom: 1rem;
}

#selectDetectionsHeader, #selectModelHeader {
    color: #def2f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.8rem auto 0.8rem 2.2rem;
}

.selectDetections label {
    color: white;
    margin: 0 auto 0.1rem 3.5rem;
    font-weight: 200;
}

@media (max-width: 768px) {
    #selectDetectionsHeader, #selectModelHeader {
        margin: 0.8rem auto 0.8rem 0.8rem;
    }

    .selectDetections label {
        margin: 0 auto 0.2rem 2rem;
    }
}

#singleSelectModel {
    cursor: pointer;
    margin: 0 0 0 3.5rem;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    appearance: none; /* Hides default select appearance (dropdown caret), which varies between browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: #dc612d url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 5px center;
}

@media (max-width: 768px) {
    #singleSelectModel {
        margin: 0.6rem 0 0 1.5rem;
    }
}

.getResultsButton button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #c7592a;  
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;
}

.getResultsButton button:hover {
    background: #d17c58;  /* Lighter shade for hover effect */
}

.getResultsButton {
    margin: 20px 0;
}

/* flash error messages */
.flashMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flashes {
    padding: 10px;
    text-align: left;
  }

.flash-message {
    font-family: 'Montserrat', sans-serif;
    color: rgb(230, 230, 230);
    background-color: #540606;
    border: 1px solid #b4b4b4;
    padding: 10px 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
}

.flash-message span {
    padding-right: 15px;
}

.closeFlashMessage {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: none;
    border-radius: 50%;
    padding-left: 40px;
}
