form {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.leftSide {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 350px;
    border-right: double;
    border-color: #b4d3cd;
}

#selectMethodText {
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    border-bottom: double;
    margin: 100px 60px 15px 60px;
    font-size: 18px;
    color: #ffffff;
}

.custom-radio-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.custom-radio-list li {
    position: relative;
    padding: 0 25px; /* to make space for the custom radio button */
    margin-bottom: 10px;
}

.custom-radio-list input[type="radio"] {
    position: absolute;
    opacity: 0; /* hide the default radio button */
    cursor: pointer;
}

.custom-radio-list input[type="radio"] + label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 40px;
    width: 16px;
    height: 16px;
    border: 2px solid #000; /* border color of the circular checkbox */
    border-radius: 50%;
    background-color: #fff; /* background color of the circular checkbox */
}

.custom-radio-list input[type="radio"]:checked + label:before {
    background-color: #d10000; /* fill color when checked */
}

.rightSide {
    flex-grow: 4;
    width: 550px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.miniHeader {
    margin: 40px 60px 0 60px;
}

#dropZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    border: 2px dashed #ffffff;
    margin: 10px auto;
    padding: 10px; 
    transition: background-color 0.3s;
    color: white;
    font-size: 18px
}

#dropZone:hover {
    background-color: #989898;
}

#dropZoneText {
    color: #def2f8;
    font-family: 'Roboto', sans-serif;
}

#thumbnailPreview {
    text-align: center;
    margin: 0 auto;
}

#fileName {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.urlInputField {
    max-width: 400px;
    width: 90%;
    margin: 30px auto;
    padding: 5px;
    border: 1px solid #070707;
    border-radius: 5px;
    background: solid;
    font-family: 'Montserrat', sans-serif;
}

.additionalOptions button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    appearance: none; /* Hides default select appearance, which varies between browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: rgba(255, 255, 255, 0) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 0px center;
    padding-right: 20px;
    margin-top: 10px;
}

#optionsContainer {
    display: none;
    width: 100%;
}

.selectDetections, .selectModel {
    flex: 1;
    text-align: justify;
}

#selectDetectionsHeader, #selectModelHeader {
    color: #def2f8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0 0 40px;
    margin-bottom: 5px;
}

.selectDetections label {
    color: white;
    margin-left: 80px;
    font-weight: 200;
}

#singleSelectModel {
    cursor: pointer;
    margin: 15px 0 0 45px;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    appearance: none; /* Hides default select appearance (dropdown caret), which varies between browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: #dc612d url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 5px center;

}

.getResultsButton button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #c7592a;  
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;
}

.getResultsButton button:hover {
    background: #d17c58;  /* Lighter shade for hover effect */
}

.getResultsButton {
    margin: 20px 0;
}

/* flash error messages */
.flashMessages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flashes {
    padding: 10px;
    text-align: left;
  }

.flash-message {
    font-family: 'Montserrat', sans-serif;
    color: rgb(230, 230, 230);
    background-color: #540606;
    border: 1px solid #b4b4b4;
    padding: 10px 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
}

.flash-message span {
    padding-right: 15px;
}

.closeFlashMessage {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: none;
    border-radius: 50%;
    padding-left: 40px;
}
