<!DOCTYPE html>
<html>
    <head>
        <title>EyeSpy Video Detections</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta description="Machine Learning Engineer Peter McMaster Portfolio and Personal Website.">

        <!-- Delete files from video_app/tmp -->
        <script>
            function initiateFileDeletion() {
                setTimeout(function() {
                    fetch('/delete_files')
                    .then(response => {
                        if (response.ok) {
                            console.log("File deletion has begun.");
                        } else {
                            console.error("Failed to begin file deletion. Response:", response.statusText);
                        }
                    })
                    .catch(error => {
                        console.error("Network error or other failure:", error);
                    });
                }, 5000);
            }
    
            initiateFileDeletion();
        </script>
        
        <!-- fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400;600&display=swap">
        <!-- fonts: Montserrat 100 200 400 600, Open Sans 300 400 600, Roboto 300 400 600 -->

        <!-- Custom Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">

    </head>

    <body>
        <div class="mainContainer">
            <div class="subContainer">
                <!-- header -->
                <div class="mainTitle">
                    <h1>EyeSpy</h1>
                </div>
                <hr class="divider">
                <!-- input form -->
                <form method="POST" enctype="multipart/form-data" action="/upload">
                    <!-- show/hide based on Upload Method -->
                    <label for="uploadMethod">Choose an upload method:</label>
                    <ul id="uploadMethod" class="custom-radio-list">
                        <li>
                            <input type="radio" name="uploadMethod" id="fileUpload" value="fileUpload">
                            <label for="fileUpload">Upload a Video</label>
                        </li>
                        <li>
                            <input type="radio" name="uploadMethod" id="youtubeURL" value="youtubeURL">
                            <label for="youtubeURL">YouTube URL</label>
                        </li>
                        <li>
                            <input type="radio" name="uploadMethod" id="useWebcam" value="useWebcam">
                            <label for="useWebcam">Use Webcam</label>
                        </li>
                    </ul>
                    <!-- dropZone -->
                    <h3 id="dropZoneHeader" style="display: none;">
                        Upload a video
                    </h3>
                    <div id="dropZone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);" style="display: none;">
                        <img src="{{ url_for('static', filename='images/upload.svg') }}" alt="upload icon">Drag & Drop files or click here
                    </div>
                    <input type="file" id="video_file" name="video_file" style="display: none;">
                    <!-- preview file in dropZone after drop -->
                    <div id="thumbnailPreview" style="display: none;">
                        <video width="320" height="240" controls style="display: none;">
                            <source id="videoSource" src="" type="video/mp4">
                            Your browser does not support the video tag.!
                        </video>
                        <div id="fileName"></div>
                    </div>
                    <!-- YouTube URL -->                    
                    <h3 id="urlInputFieldHeader" style="display: none;">
                        Enter a YouTube URL
                    </h3>
                    <input type="text" id="urlInputField" class="urlInputField" name="video_url" placeholder="YouTube URL..." style="display: none;">
                    <!-- Webcam -->
                    <h3 id="webcamHeader" style="display: none;">
                        This feature is currently under maintenance... Please choose another upload method.
                    </h3>
                    <!-- Options Toggle -->
                    <div id="additionalOptions" class="additionalOptions" style="display: none;">
                        <button type="button" id="toggleOptions">
                            <u>Additional Options</u>
                        </button>
                    </div>
                    <!-- Additional Options -->
                    <div id="optionsContainer" class="optionsContainer" style="display: none;">
                        <div class="selectDetections">
                            <h4 id="selectDetectionsHeader">Detecting:</h4>
                            <label>
                                <input type="checkbox" name="detections" value="People" checked> People
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="detections" value="Vehicles" checked> Vehicles
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="detections" value="Traffic_Signs" checked> Traffic Signs
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="detections" value="Animals" checked> Animals
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="detections" value="Sports_Equipment" checked> Sports Equipment
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="options" value="Food" checked> Food
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="detections" value="Household_Items" checked> Household Items
                            </label>
                            <br>
                        </div>
                        <div class="selectModel">
                            <h4 id="selectModelHeader">Model:</h4>
                            <select name="singleSelectModel" id="singleSelectModel">
                                <option value="nano">nano</option>
                                <option value="medium">medium</option>
                                <option value="XL">XL</option>
                                <option value="custom">custom</option>
                            </select>
                        </div>
                    </div>
                    <div id="getResultsButton" class="getResultsButton" style="display: none;"> 
                        <button type="submit">Get Results</button>
                    </div>
                    <!-- Messages to User -->
                    <div id="flashMessages" class="flashMessages">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <div class="flash-message">
                                            <img src="{{ url_for('static', filename='images/error.svg') }}">
                                            <span>{{ message }}</span>
                                            <button type="button" class="closeFlashMessage">&times;</button>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>

        <!-- handles show/hide additional options, handles drag n drop -->

        <!-- local hosting with Live Server -->
        <!-- <script src="scripts/dismissMessage.js"></script>
        <script src="scripts/optionsToggle.js"></script>
        <script src="scripts/dropZone.js"></script> -->

        <!-- when app is run end-to-end via Docker -->
        <script src="{{ url_for('static', filename='scripts/dismissMessage.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/optionsToggle.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/dropZone.js') }}"></script>

        <!-- call /delete_files -->
        <script src="{{ url_for('static', filename='scripts/deleteLocalFiles.js') }}"></script>

        <!-- change UI based on selected Upload Method -->
        <script src="{{ url_for('static', filename='scripts/uploadMethod.js') }}"></script>
    </body>

</html>